<form role="form">
  <div class="form-group">
    <label for="concept" class="control-label">Concepts</label>
    <input type="text" ng-model="color.concept" class="form-control" id="concept" placeholder="Enter the Concept">
  </div>

  <div class="form-group">
    <label for="concept" class="control-label">Pre-requisites</label>
    <select name="prerequisites" ng-model="color.prerequisites" class="form-control" id="concept">
      <option value="">Select the concepts</option>
      <option ng-repeat="color in colors" value="{{ color.concept }}">{{ color.concept }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="concept" class="control-label">Leads to</label>
    <input type="text" ng-model="color.leads" class="form-control" id="concept" placeholder="Enter what it Leads to">
  </div>
  <input type="submit" class="btn btn-primary" ng-click="saveColor()" value="Save">
</form>
