
<form role="form">
  <div class="form-group">
    <label for="concept" class="control-label">Concepts</label>
    <input type="text" ng-model="color.concept" class="form-control" id="concept" placeholder="Enter the Concept">
  </div>

  <div class="form-group">
    <label for="concept" class="control-label">Pre-Requisites</label>
    <select name="prerequisites" ng-model="color.prerequisites[0]" class="form-control" id="concept">
      <option value="">Select the Pre-Requisite</option>
      <option ng-repeat="color in colors" value="{{ color.concept }}">{{ color.concept }}</option>
    </select>
  <div ng-repeat="input in inputs">
    <select ng-model="color.prerequisites[1]" class ="form-control">
      <option value="">Additional Pre-Requisites</option>
      <option ng-repeat="color in colors" value="{{ color.concept }}">{{ color.concept }}</option>
    </select>
  </div>
  <button ng-click="addfield()">Add Pre-Requisites</button>
  </div>

  <div class="form-group">
    <label for="concept" class="control-label">Leads to</label>
    <input type="text" ng-model="color.leads" class="form-control" id="concept" placeholder="Enter what it Leads to">
  <div ng-repeat="input in leads">
    <input type="text" class="form-control" placeholder="Additional Leads">
  </div>
  <button ng-click="addfield2()">Add Leads</button>
  </div>

  <input type="submit" class="btn btn-primary" ng-click="saveColor()" value="Save">

</form>
